@use "../utils" as u;

.button {
  padding: u.rem(10) u.rem(12);
  border-radius: 0.6rem;
  display: block;
  width: fit-content;
  line-height: 1;

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  @include u.breakpoint(large) {
    padding: u.rem(6) u.rem(12);
  }
}
